* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
  --hue-color: 271;
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
}



body {
  background-image: url(6009667.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #222;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.mobile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
}

.temperature-converter {
  background-color: rgb(14, 137, 105);
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 25px 45px;
  min-width: 320px;
  width: 100%;
  font-family: 'Lemon', serif; ;
  /* height: auto;
  box-shadow: -5px -5px 250px 0px rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(21px); */
}

.title {
  color: #222;
  font-size: 1.5rem;
  text-align: center;
}
.result {
  text-align: center;
  margin: 20px 0;
}
.result-heading {
  color: #555;
  font-size: 1rem;
  font-weight: 600;
}
.celsius-value {
  border-bottom: 2px solid #ccc;
  padding: 10px;
  transition: all .45s ease;
}
label {
  color: #555;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
input,
select {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #ccc;
  padding: 8px;
  margin-bottom: 15px;
}
input:focus {
  border: 1px solid #4c49f3;
}
.degree-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.degree-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact__content {
  background-color: rgb(255, 255, 255);
  border-radius: .5rem;
  margin-top: 30px;
  padding: .75rem 1rem .25rem;
  display: flex;
  flex-direction: column;
}

.contact__label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact__input {
  width: 100%;
  background-color:  rgb(255, 255, 255);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}

input:focus{
  box-shadow: none;
  border: none;
}
